<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>

    <form action="/register" method="post">

        <p><b>First_name :</b><input type="text" name="firstName"></p>

        <p><b>Last_name :</b><input type="text" name="lastName"></p>

        <p><b>User_name :</b><input type="text" name="userName"></p>

        <p><b>password :</b><input type="password" name="password"></p>

        <button type="submit" value="Submit">Click Me!</button>
        <a href="/static">Log in</a>

    </form>
</head>
<body>

</body>
</html>




